# Pandas Functions Part-3

In [4]:
import pandas as pd
import numpy as np

In [8]:
# Load hard-coded data into a dataframe
df = pd.DataFrame(
[['Jan', 58, 42, 74, 22, 2.95],
['Feb', 61, 45, 78, 26, 3.02],
['Mar', 65, 48, 84, 25, 2.34],
['Apr', 67, 50, 92, 28, 1.02],
['May', 71, 53, 98, 35, 0.48],
['Jun', 75, 56, 107, 41, 0.11],
['Jul', 77, 58, 105, 44, 0.0],
['Aug', 77, 59, 102, 43, 0.03],
['Sep', 77, 57, 103, 40, 0.17],
['Oct', 73, 54, 96, 34, 0.81],
['Nov', 64, 48, 84, 30, 1.7],
['Dec', 58, 42, 73, 21, 2.56]],
index = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
columns = ['month', 'avg_high', 'avg_low', 'record_high', 'record_low', 'avg_precipitation'])

print(df)

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    Jan        58       42           74          22               2.95
1    Feb        61       45           78          26               3.02
2    Mar        65       48           84          25               2.34
3    Apr        67       50           92          28               1.02
4    May        71       53           98          35               0.48
5    Jun        75       56          107          41               0.11
6    Jul        77       58          105          44               0.00
7    Aug        77       59          102          43               0.03
8    Sep        77       57          103          40               0.17
9    Oct        73       54           96          34               0.81
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56

In [10]:
# Read text file into dataframe
filename = 'Fremont_Weather.txt'
df = pd.read_csv(filename)
print(df)

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    Jan        58       42           74          22               2.95
1    Feb        61       45           78          26               3.02
2    Mar        65       48           84          25               2.34
3    Apr        67       50           92          28               1.02
4    May        71       53           98          35               0.48
5    Jun        75       56          107          41               0.11
6    Jul        77       58          105          44               0.00
7    Aug        77       59          102          43               0.03
8    Sep        77       57          103          40               0.17
9    Oct        73       54           96          34               0.81
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56

In [13]:
# Print first 5 or last 3 rows of df
print(df.head())
print("\n")
print(df.tail(3))

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
0   Jan        58       42           74          22               2.95
1   Feb        61       45           78          26               3.02
2   Mar        65       48           84          25               2.34
3   Apr        67       50           92          28               1.02
4   May        71       53           98          35               0.48


   month  avg_high  avg_low  record_high  record_low  avg_precipitation
9    Oct        73       54           96          34               0.81
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56

In [16]:
# get data types, index, columns, values
print("Data types")
print(df.dtypes)
print("\n Index")
print(df.index)
print("\n Columns")
print(df.columns)
print("\n Values")
print(df.values)

Data types
month                 object
avg_high               int64
avg_low                int64
record_high            int64
record_low             int64
avg_precipitation    float64
dtype: object

 Index
RangeIndex(start=0, stop=12, step=1)

 Columns
Index(['month', 'avg_high', 'avg_low', 'record_high', 'record_low',
       'avg_precipitation'],
      dtype='object')

 Values
[['Jan' 58 42 74 22 2.95]
 ['Feb' 61 45 78 26 3.02]
 ['Mar' 65 48 84 25 2.34]
 ['Apr' 67 50 92 28 1.02]
 ['May' 71 53 98 35 0.48]
 ['Jun' 75 56 107 41 0.11]
 ['Jul' 77 58 105 44 0.0]
 ['Aug' 77 59 102 43 0.03]
 ['Sep' 77 57 103 40 0.17]
 ['Oct' 73 54 96 34 0.81]
 ['Nov' 64 48 84 30 1.7]
 ['Dec' 58 42 73 21 2.56]]

In [17]:
# statistical summary of each column
print(df.describe())

        avg_high    avg_low  record_high  record_low  avg_precipitation
count  12.000000  12.000000    12.000000   12.000000          12.000000
mean   68.583333  51.000000    91.333333   32.416667           1.265833
std     7.366488   6.060303    12.323911    8.240238           1.186396
min    58.000000  42.000000    73.000000   21.000000           0.000000
25%    63.250000  47.250000    82.500000   25.750000           0.155000
50%    69.000000  51.500000    94.000000   32.000000           0.915000
75%    75.500000  56.250000   102.250000   40.250000           2.395000
max    77.000000  59.000000   107.000000   44.000000           3.020000

In [18]:
# sort records by any column
print(df.sort_values('record_high', ascending = False))

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
5    Jun        75       56          107          41               0.11
6    Jul        77       58          105          44               0.00
8    Sep        77       57          103          40               0.17
7    Aug        77       59          102          43               0.03
4    May        71       53           98          35               0.48
9    Oct        73       54           96          34               0.81
3    Apr        67       50           92          28               1.02
2    Mar        65       48           84          25               2.34
10   Nov        64       48           84          30               1.70
1    Feb        61       45           78          26               3.02
0    Jan        58       42           74          22               2.95
11   Dec        58       42           73          21               2.56

In [19]:
# slicing records
print("index with single column")
print(df.avg_low)

print("\n index with single column")
print(df['avg_low'])

print("\n rows 2 to 3")
print(df[2:4])

print("\n multiple columns")
print(df[['avg_low', 'avg_high']])

print("\n df.loc[from_row:to_row, ['column1', 'column2']]")
print(df.loc[:, ['avg_low', 'avg_high']]) 

print("\n ")
print(df.loc[9, ['avg_precipitation']])

print("\n index location can receive range or list of indices")
print(df.iloc[3:5, [0, 3]])

index with single column
0     42
1     45
2     48
3     50
4     53
5     56
6     58
7     59
8     57
9     54
10    48
11    42
Name: avg_low, dtype: int64

 index with single column
0     42
1     45
2     48
3     50
4     53
5     56
6     58
7     59
8     57
9     54
10    48
11    42
Name: avg_low, dtype: int64

 rows 2 to 3
  month  avg_high  avg_low  record_high  record_low  avg_precipitation
2   Mar        65       48           84          25               2.34
3   Apr        67       50           92          28               1.02

 multiple columns
    avg_low  avg_high
0        42        58
1        45        61
2        48        65
3        50        67
4        53        71
5        56        75
6        58        77
7        59        77
8        57        77
9        54        73
10       48        64
11       42        58

 df.loc[from_row:to_row, ['column1', 'column2']]
    avg_low  avg_high
0        42        58
1        45        61
2        48        65
3        50        67
4        53        71
5        56        75
6        58        77
7        59        77
8        57        77
9        54        73
10       48        64
11       42        58


avg_precipitation    0.81
Name: 9, dtype: object

 index location can receive range or list of indices
  month  record_high
3   Apr           92
4   May           98

In [22]:
# filtering 
print("average precipitation greater than 1.0")
print(df[df.avg_precipitation > 1.0])
print("\n Month in Jun,Jul,Aug")
print(df[df['month'].isin(['Jun', 'Jul', 'Aug'])])

average precipitation greater than 1.0
   month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    Jan        58       42           74          22               2.95
1    Feb        61       45           78          26               3.02
2    Mar        65       48           84          25               2.34
3    Apr        67       50           92          28               1.02
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56

 Month in Jun,Jul,Aug
  month  avg_high  avg_low  record_high  record_low  avg_precipitation
5   Jun        75       56          107          41               0.11
6   Jul        77       58          105          44               0.00
7   Aug        77       59          102          43               0.03

In [25]:
# assignment -- very similar to slicing

print("average precipitation equal to 101.3")
df.loc[9, ['avg_precipitation']] = 101.3
print(df.iloc[9:11])

print("\n Average precipitation")
df.loc[9, ['avg_precipitation']] = np.nan
print(df.iloc[9:11])

print("\n Average Low")
df.loc[:, 'avg_low'] = np.array([5] * len(df)) 
print(df.head())

print("\n Average day")
df['avg_day'] = (df.avg_low + df.avg_high) / 2
print(df.head())

average precipitation equal to 101.3
   month  avg_high  avg_low  record_high  record_low  avg_precipitation
9    Oct        73       54           96          34              101.3
10   Nov        64       48           84          30                1.7

 Average precipitation
   month  avg_high  avg_low  record_high  record_low  avg_precipitation
9    Oct        73       54           96          34                NaN
10   Nov        64       48           84          30                1.7

 Average Low
  month  avg_high  avg_low  record_high  record_low  avg_precipitation
0   Jan        58        5           74          22               2.95
1   Feb        61        5           78          26               3.02
2   Mar        65        5           84          25               2.34
3   Apr        67        5           92          28               1.02
4   May        71        5           98          35               0.48

 Average day
  month  avg_high  avg_low  record_high  record_low  avg_precipitation  \
0   Jan        58        5           74          22               2.95
1   Feb        61        5           78          26               3.02
2   Mar        65        5           84          25               2.34
3   Apr        67        5           92          28               1.02
4   May        71        5           98          35               0.48

   avg_day
0     31.5
1     33.0
2     35.0
3     36.0
4     38.0

In [27]:
#renaming columns
print("Before renaming Columns")
df.rename(columns = {'avg_precipitation':'avg_rain'}, inplace = True)
print(df.head())

print("\n After Renaming Columns")
df.columns = ['month', 'av_hi', 'av_lo', 'rec_hi', 'rec_lo', 'av_rain', 'av_day']
print(df.head())

Before renaming Columns
  month  av_hi  av_lo  rec_hi  rec_lo  av_rain  av_day
0   Jan     58      5      74      22     2.95    31.5
1   Feb     61      5      78      26     3.02    33.0
2   Mar     65      5      84      25     2.34    35.0
3   Apr     67      5      92      28     1.02    36.0
4   May     71      5      98      35     0.48    38.0

 After Renaming Columns
  month  av_hi  av_lo  rec_hi  rec_lo  av_rain  av_day
0   Jan     58      5      74      22     2.95    31.5
1   Feb     61      5      78      26     3.02    33.0
2   Mar     65      5      84      25     2.34    35.0
3   Apr     67      5      92      28     1.02    36.0
4   May     71      5      98      35     0.48    38.0

In [28]:
# iterate a df

for index, row in df.iterrows():
    print(index, row['month'], row['av_hi'])

0 Jan 58
1 Feb 61
2 Mar 65
3 Apr 67
4 May 71
5 Jun 75
6 Jul 77
7 Aug 77
8 Sep 77
9 Oct 73
10 Nov 64
11 Dec 58

In [29]:
#  write to csv file
df.to_csv('foo.csv')